@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

body {
    width: 100vw;
    height: 100vh;
    font-family: "Manrope";
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;
    font-weight: 500;
    background-color: #f2f7ff;
    color: black;
}

* {
    box-sizing: border-box;
    font-family: "Manrope";
    transition: all 0.2s;
}

img {
    outline: none;
    user-select: none;
    -webkit-user-drag: none;
}

.feed-card-content img {
    cursor: pointer;
}

.feed-card-content img:active {
    scale: 0.98;
}

.repost-card > .post > img {
    cursor: pointer;
}

.repost-card > .post > img:active {
    scale: 0.98;
}

.bi-patch-check-fill {
    color: #0062ff;
}

::selection {
    background-color: #0062ff;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #36363648;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #36363688;
    cursor: grabbing;
}
::-webkit-scrollbar-track {
    width: 5px;
    background-color: transparent;
}

body > .app {
    width: 95%;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
}

.app {
    order: 2;
    display: flex;
    gap: 10px;
    height: 10vh;
}

.app .logo {
    display: none;
}

.app .userinfo {
    display: none;
}

.app .buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.app .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app .buttons button span {
    display: none;
}

body .feed {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed .feed-header {
    width: 100%;
    height: 10%;
    padding: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 20px;
    border: none;
}

.feed .feed-header .feed-choice {
    width: fit-content;
    height: 100%;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 900;
    color: #428bff;
}

.feed .feed-content {
    width: 95%;
    height: 90%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.feed .feed-content::after {
    position: sticky;
    content: '';
    box-sizing: border-box;
    display: block;
    bottom: -4%;
    left: 0;
    width: 100%;
    padding: 0;
    background: linear-gradient(to top, #f2f7ff, transparent);
}

.feed .feed-content .feed-card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
}

.feed .feed-content .feed-card > div {
    width: 100%;
}

.feed .feed-content .feed-card .feed-owner {
    width: 100%;
    height: 9vh;
    display: flex;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
}

.feed .feed-content .feed-card .feed-owner .image {
    width: 20%;
    height: 100%;
    text-align: center;
}

.feed .feed-content .feed-card .feed-owner .image img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.feed .feed-content .feed-card .feed-owner .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feed .feed-content .feed-card .feed-owner .userinfo .name {
    width: 100%;
    height: fit-content;
    gap: 10px;
    display: flex;
    align-items: end;
    justify-content: start;
    font-size: 1.15rem;
    font-weight: 700;
    transition: all 0.1s
}

.feed .feed-content .feed-card .feed-owner .userinfo:hover .name {
    font-weight: 850;
}

.feed .feed-content .feed-card .feed-owner .userinfo .username {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 0.85rem;
    color: #363636;
}

.feed .feed-content .feed-card .feed-owner .follow-action {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.feed .feed-content .feed-card .feed-owner .follow-action button {
    width: 60%;
    font-size: 1.05rem;
}

.feed .feed-content .feed-card .feed-card-content {
    width: 100%;
    height: 100%;
    line-height: 1.5rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.feed .feed-content .feed-card .feed-card-content > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.feed .feed-content .feed-card .feed-card-content .repost-card {
    width: 100%;
    height: 21vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    margin: 15px 0 15px 0;
}

.feed .feed-content .feed-card .feed-card-content .repost-card.full {
    height: fit-content;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .image {
    width: 20%;
    height: 100%;
    text-align: center;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .image img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo .name {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;
    font-weight: 700;
    transition: all 0.1s
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo:hover .name {
    font-weight: 850;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo .username {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 0.85rem;
    color: #363636;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .post {
    width: 100%;
    height: 11vh;
    padding: 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5rem;
}

.feed .feed-content .feed-card .feed-card-content .repost-card.full > .post {
    width: 100%;
    padding: 15px 0;
    display: block;
    height: 100%;
    box-sizing: border-box;
}

.feed .feed-content .feed-card .feed-card-content .repost-card.full > .post > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.feed .feed-content .feed-card .feed-card-content .repost-card .size-control {
    width: 100%;
    height: 3vh;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.feed .feed-content .feed-card .feed-date {
    width: 100%;
    font-size: 0.9rem;
    color: #363636;
    padding: 0 0 5px 10px;
}

.feed .feed-content .feed-card .feed-date .reposttxt {
    color: #0062ff;
    font-weight: 700;
}

.feed .feed-content .feed-card .feed-actions {
    width: 90%;
    color: #363636;
    padding: 15px 0;
    font-size: 1.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed .feed-content .feed-card .feed-actions > div {
    width: fit-content;
    padding: 7px 15px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.feed .feed-content .feed-card .feed-actions > div:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
}

.feed .feed-content .feed-card .feed-actions > div:active {
    scale: 0.9;
}

.feed-card .feed-actions > div.liked {
    color: #ff1176;
    font-weight: 800;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.feed-card .feed-actions > div.like-btn i {
    color: inherit;
    font-weight: inherit;
}

@keyframes likeanimation {
    0% {
        transform: translateY(0px);
        scale: 1;
    }
    50% {
        transform: translateY(-20px);
        scale: 1.5;
    }
    100% {
        transform: translateY(0px);
        scale: 1;
    }
}

.feed-card .feed-actions > div.liked i {
    background: linear-gradient(to bottom, #ff1176, #ff1837);
    background-clip: text;
    color: transparent;
    animation: likeanimation 1s;
}

.feed-card .feed-actions > div.retw {
    color: #ffb011;
    font-weight: 800;
    background-color: #f3f3f3;
    border-radius: 10px;
}

@keyframes retwanimation {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(0px);
    }
}

.feed-card .feed-actions > div.retw i {
    color: #ffb011;
    animation: retwanimation 1s;
}

.feed-card .feed-actions > div:nth-child(2) i {
    background: linear-gradient(to bottom, #0062ff, #1d74ff);
    background-clip: text;
    color: #000;
    font-weight: inherit;
}

.feed-card.opencomments .feed-actions > div:nth-child(2) {
    color: #0062ff;
    font-weight: 800;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.feed-card.opencomments .feed-actions > div:nth-child(2) i {
    background: linear-gradient(to bottom, #0062ff, #1d74ff);
    background-clip: text;
    color: transparent;
}

.feed .feed-content .feed-card .feed-comments {
    display: none;
}

.feed-card.opencomments .feed-comments .add-comment {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feed-card.opencomments .feed-comments .add-comment .text {
    width: 100%;
    font-size: 1.1rem;
}

.feed-card.opencomments .feed-comments .add-comment button {
    width: 60%;
    font-size: 1rem;
}

.feed .feed-content .feed-card.opencomments .feed-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 20px 15px;
    border-left: 1px solid #dfdfdf;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment:last-child {
    border-bottom: 1px solid transparent;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 6vh;
    padding: 6px;
    cursor: pointer;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .image img {
    height: calc(6vh - 12px);
    width: calc(6vh - 12px);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .userinfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .userinfo:hover .name {
    font-weight: 850;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .userinfo > div {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50%;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .userinfo > div:not(:last-child) {
    font-weight: 700;
    display: flex;
    gap: 8px;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment-owner .userinfo > div:last-child {
    font-size: 0.85rem;
    color: #363636;
}

.feed .feed-content .feed-card.opencomments .feed-comments .feed-comment .comment {
    font-size: 0.92rem;
    padding: 0 10px;
}

.feed .feed-content .user-card {
    width: 100%;
    height: 12vh;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}

.feed .feed-content .user-card:hover {
    background-color: #fcfcfc;
}

.feed .feed-content .user-card:active {
    background-color: #f1f1f1;
}

.feed-content .user-card .image {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feed-content .user-card .image img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #f3f3f3;
}

.feed-content .user-card .userinfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feed-content .user-card .userinfo .name {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
}

.feed-content .user-card .userinfo .username {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #363636;
}

.feed .feed-content .notification {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    transition: all 0.2s;
}

.feed .feed-content .notification .icon {
    width: 7%;
    height: 100%;
    text-align: center;
}

.feed .feed-content .notification.like .icon i {
    font-size: 1.3rem;
    background: linear-gradient(to right, #ff1176, #ff1837);
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification.repost .icon i {
    font-size: 1.3rem;
    background: #ffb011;
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification.follow .icon i {
    font-size: 1.3rem;
    background: linear-gradient(to right, #6f00ff, #ac7fff);
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification.comment .icon i {
    font-size: 1.3rem;
    background: linear-gradient(to right, #0062ff, #00a2ff);
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification.post .icon i {
    font-size: 1.3rem;
    background: #68ff11;
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification.unfollow .icon i {
    font-size: 1.3rem;
    background: linear-gradient(to right, #c20000, #ff2f2f);
    background-clip: text;
    color: transparent;
}

.feed .feed-content .notification .notification-content .taguser {
    font-weight: 700;
    color: #0062ff;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
}

.feed .feed-content .notification .notification-content .taguser:hover {
    background-color: #dfdfdf;
}

.feed .feed-content .notification .notification-content .taguser:active {
    background-color: #f5f5f5;
}

.feed .feed-content .notification .notification-content .time {
    color: #9b9b9b;
}

.feed .feed-content .profileovw {
    width: 100%;
    height: 45vh;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    transition: all 0.2s;
    display: flex;
    align-items: end;
    position: relative;
}

.feed .feed-content .profileovw .profile-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateZ(20px);
}

.feed .feed-content .profileovw button.transparent-btn {
    font-size: 1.6rem;
    padding: 30px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.feed .feed-content .profileovw .profile-bg {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
}

.feed .feed-content .profileovw .profile-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    border-radius: 20px;
    position: relative;
}

.feed .feed-content .profileovw .profile-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 18px;
    border: 1px solid white;
    background: linear-gradient(20deg, white 30%, transparent);
}

.feed .feed-content .profileovw .profile-img {
    width: 100%;
    height: 15vh;
    position: relative;
}

.feed .feed-content .profileovw .profile-img input {
    display: none;
}

.feed .feed-content .profileovw .profile-img img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #f3f3f3;
}

.feed .feed-content .profileovw .userinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feed .feed-content .profileovw .userinfo .name {
    font-size: 1.4rem;
    font-weight: 800;
}

.feed .feed-content .profileovw .userinfo .username {
    color: #5a5a5a;
}

.feed .feed-content .profileovw .stats {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.feed .feed-content .profileovw .stats .stat {
    user-select: none;
    cursor: pointer;
    position: relative;
}

.feed .feed-content .profileovw .stats .stat::after {
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    position: absolute;
    background-color: black;
    transition: all 0.2s;
}

.feed .feed-content .profileovw .stats .stat:hover::after {
    bottom: -3px;
    opacity: 1;
}

.feed .feed-content .profileovw .stats .stat .value {
    font-weight: 750;
}

@media screen and (min-width: 900px) {
    body {
        width: 100vw;
        height: 100vh;
        font-family: "Manrope";
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: start;
        justify-content: center;
        background-color: #f2f7ff;
        color: black;
    }

    body > .feed {
        order: 2;
        width: 40vw;
        padding: 15px;
        height: 100%;
    }

    body > .app {
        order: 1;
        width: 15vw;
        padding: 15px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #f3f3f3;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: fit-content;
        margin-top: 15px;
        position: relative;
    }

    .app .logo {
        padding: 10px;
        height: 6vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .app .logo img {
        width: 6vh;
        height: 100%;
        aspect-ratio: 1/1;
        width: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    .app .userinfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
    }
    
    .app .userinfo .name {
        font-size: 1.3rem;
        font-weight: 750;
    }

    .app .buttons {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .app .buttons button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .app .buttons button span {
        display: block;
    }

    body .feed {
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feed .feed-header {
        width: 100%;
        height: 10%;
        padding: 15px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 20px;
        border: none;
    }
    
    .feed .feed-header .feed-choice {
        width: fit-content;
        height: 100%;
        padding: 10px;
        font-size: 1.2rem;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        user-select: none;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 900;
        color: #428bff;
    }
    
    .feed .feed-content {
        width: 95%;
        height: 90%;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
    }
    
    .feed .feed-content .feed-card {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #f3f3f3;
    }
    
    .feed .feed-content .feed-card > div {
        width: 100%;
    }

    .feed .feed-header .feed-choice {
        height: 80%;
    }

    .feed .feed-header input {
        height: 80%;
        width: 70%;
        padding: 10px 15px;
        font-size: 1rem;
        border: 1px solid #eeeeee;
        outline: 1px solid transparent;
        outline: none;
        border-radius: 10px;
    }

    .feed .feed-header input:focus {
        border: 1px solid #0062ff;
        outline: 1px solid #0062ff;
    }

    .feed .feed-choice::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 10px;
        width: 0%;
        height: 3px;
        background-color: #428bff;
        border-radius: 10px;
        transition: all 0.2s;
    }
    
    .feed .feed-choice.selected {
        font-weight: 900;
        color: #428bff;
    }
    
    .feed .feed-choice.selected::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 10px;
        width: calc(100% - 20px);
        height: 3px;
        background-color: #428bff;
        border-radius: 10px;
    }

    .feed .feed-content .feed-card .feed-owner {
        width: 100%;
        height: 8vh;
        display: flex;
        padding: 8px;
        gap: 10px;
    }

    .feed .feed-content .feed-card .feed-owner .image {
        width: 10%;
        height: 100%;
        text-align: center;
    }

    .feed .feed-content .feed-card .feed-owner .follow-action button {
        width: 40%;
        font-size: 1.05rem;
    }

    .feed .feed-content .feed-card .feed-actions {
        width: 100%;
        color: #363636;
        padding: 15px 0;
        font-size: 1.05rem;
        gap: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .feed .feed-content .feed-card .feed-card-content .repost-card .profile {
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .feed .feed-content .feed-card .feed-card-content .repost-card .profile .image {
        width: 10%;
        height: 100%;
        text-align: center;
    }
    
    .feed .feed-content .feed-card .feed-card-content .repost-card .profile .image img {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    
    .feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo .name {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 5px;
        font-weight: 700;
    }
    
    .feed .feed-content .feed-card .feed-card-content .repost-card .profile .userinfo .username {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: start;
        font-size: 0.85rem;
        color: #363636;
    }
}